<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EasySuper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GMSApiKey</key>
	<string>AIzaSyCaIHwhE1vCIMfERvZx2IapbISpJAErMEI</string>
	<key>GIDClientID</key>
	<string>542553177675-ql4kq4ac5oul05vcf09g3kee0pqtq58v.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>PreciseOffers</key>
		<string>Necesitamos precisión alta por unos momentos para ubicar con exactitud el supermercado seleccionado.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para mostrar supermercados y ofertas cercanas.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para mostrar supermercados y ofertas cercanas.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Usamos el micrófono para permitirte buscar productos por voz.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Usamos el reconocimiento de voz para que puedas buscar productos hablando.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.easysuper.app</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>google</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.542553177675-ql4kq4ac5oul05vcf09g3kee0pqtq58v</string>
            </array>
        </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
